<ion-header>
  <ion-toolbar>
    <ion-label>DETALLE DEL EPISODIO</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="episodedetail">
  <ion-grid>
    <ion-row>
      <!-- <ion-col class="logo">
        <ion-img [src]="item.image" style="width:40%"></ion-img>
      </ion-col> -->
    </ion-row>
      <ion-col>
        <h3><b>Nombre: </b> {{ item.name }}</h3>
        <h3><b>air_date: </b> {{ item.air_date }}</h3>
        <h3><b>episode: </b> {{ item.episode }}</h3>
      
      </ion-col>
    <ion-row>

    </ion-row>
  </ion-grid>
</ion-content>